.button {
  width: 9rem;
  height: 2rem;
  background-color: inherit;
  color: #2196f3;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0 gray;
  font-weight: bolder;
  cursor: pointer;
}

.button:hover {
  transform: scaleX(1.05);
}
