.main {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  position: relative;
}

.mainSearch {
  width: 40%;
  min-height: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.mainSearch img {
  width: 50%;
}

.mainInput {
  width: 25rem;
  height: 3rem;
  position: relative;
}

.mainInput > input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid gray;
  padding-left: 3.5em;
  padding-right: 1em;
}

.mainInput > input::placeholder {
  padding-left: 0.5rem;
}

.icon {
  position: absolute;
  font-size: 1.2em;
  top: 0.5em;
  left: 0.5em;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
}

.mainCards {
  width: 100%;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchList {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  max-height: 30vh;
  height: auto;
  overflow: auto;
  box-shadow: -3px 2px 9px 0px gray;
  position: absolute;
  left: 0;
  top: 2.5em;
  margin: 0;
  z-index: 50;
  background-color: white;
}

.searchItems {
  padding: 0.3em;
}

.searchItems:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.418);
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 690px) {
  .mainSearch {
    width: 100%;
  }

  .mainSearch img {
    width: 30%;
  }

  .mainInput {
    width: 20rem;
  }
}
