.title {
  max-width: 1440px;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  z-index: 10;
}

.title > h1 {
  width: 70%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .title {
    max-width: 960px;
  }
}

@media screen and (max-width: 690px) {
  .title {
    max-width: 690px;
    height: 6rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    background-color: white; */
    flex-direction: column-reverse;
  }

  .title h1 {
    font-size: 1.3em;
  }
}
