.img {
  width: 100%;
}

.link {
  width: 23%;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1200px) {
  .link {
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .link {
    width: 45%;
  }
}

@media screen and (max-width: 690px) {
  .link {
    width: 100%;
  }
}
