@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#root {
  background-color: beige;
  box-sizing: border-box;
}

.app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error {
  font-size: 3.7em;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .app {
    max-width: 960px;
  }
}

@media screen and (max-width: 690px) {
  .app {
    max-width: 690px;
  }
}
