.cards {
  width: 80%;
  min-height: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 5em auto;
  box-sizing: border-box;
}

.cardInfo {
  width: 100%;
  min-height: 4rem;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: -3px 2px 9px 0px gray;
}

.cardInfo:hover {
  transform: scale(1.05);
}
