.main {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  box-sizing: border-box;
  gap: 4rem;
  position: relative;
}

.title {
  max-width: 1440px;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.title > h1 {
  width: 70%;
  text-align: center;
}

.cardsBlock {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 3.7em;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .title {
    max-width: 960px;
  }
}

@media screen and (max-width: 690px) {
  .title {
    max-width: 690px;
    height: 6rem;
    flex-direction: column-reverse;
  }
}
