.wrap {
  max-width: 1440px;
  width: 100%;
  height: 5rem;
  box-shadow: 0 0 20px 0 beige;
  position: fixed;
  background-color: white;
  z-index: 30;
}

.headerBox {
  width: 100%;
}

.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.headerPop {
  width: 50%;
}

.headerLogo img {
  width: 100%;
}

.navBox {
  width: 100%;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  list-style: none;
  font-family: "Karla", sans-serif;
}

.closeMenu {
  font-size: 2em;
  position: absolute;
  top: 0.5em;
  right: 2rem;
  z-index: 10;
  cursor: pointer;
}

.mobileBtn {
  display: none;
}

@media screen and (max-width: 1200px) {
  .wrap {
    max-width: 960px;
  }
}

@media screen and (max-width: 690px) {
  .wrap {
    max-width: 690px;
  }

  .header {
    /* width: 80%;
    display: flex;
    justify-content: space-between; */
    align-items: flex-start;
    /* margin: 0 auto;
    box-sizing: border-box; */
    flex-direction: column;
  }

  .mobileBtn {
    display: block;
  }

  .headerPop {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00000075;
    transition: left 0.3s ease-in-out;
  }

  .navBox {
    width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    padding-top: 3em;
    transition: left 0.3s ease-in-out;
    display: flex;
    background-color: white;
  }

  .activeNav {
    left: 0;
  }

  .navigation {
    width: 60%;
    /* display: flex;
    align-items: center; */
    justify-content: flex-start;
    /* gap: 2rem;
    list-style: none;
    font-family: "Karla", sans-serif; */
    flex-direction: column;
  }
}
