.main {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  box-sizing: border-box;
}

.characrers {
  width: 100%;
  min-height: 20vh;
  margin-top: 3rem;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.charactersTitle {
  color: #737171;
  margin-left: 10vw;
}

.error {
  font-size: 3.7em;
  text-align: center;
}

.mainWrap {
  width: 100%;
  box-sizing: border-box;
  height: 8rem;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 5em;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.detailsBox {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.span {
  font-size: 0.8em;
  font-weight: lighter;
  color: #737171;
}

@media screen and (max-width: 690px) {
  .detailsBox {
    font-size: 0.9em;
  }

  .mainWrap {
    /* width: 100%;
    box-sizing: border-box;
    height: 8rem;
    display: flex; */
    flex-direction: column;
    align-items: center;
  }

  .characrers {
    margin-top: 5rem;
  }
}
