.modal {
  position: absolute;
  width: 40%;
  height: 5rem;
  background-color: white;
  left: 50vh;
  bottom: 5rem;
  display: flex;
  color: #737171;
  justify-content: space-around;
}

.modalClose {
  cursor: pointer;
}
.modalClose:hover {
  transform: scale(1.05);
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0 gray;
}

.modalText {
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: "Karla", sans-serif;
  padding: 1.1em;
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 60%;
    left: 20vh;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 80%;
    left: 10vh;
  }
}
