.main {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  box-sizing: border-box;
}

.infoBox {
  width: 80%;
  margin: 8em auto;
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.infoBox img {
  width: 40%;
  box-shadow: 0px 2px 6px 0 gray;
  min-height: 4rem;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.details {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5em;
}

.detailsBox {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-weight: bolder;
  font-size: 1.3em;
}

.detailsBox span {
  color: #737171;
  font-size: 0.7em;
}

.link {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
  color: black;
}

.mainWrap {
  width: 100%;
  box-sizing: border-box;
  height: 8rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .link {
    font-size: 0.9em;
  }

  .detailsBox {
    font-size: 1em;
  }
}

@media screen and (max-width: 690px) {
  .main {
    margin: 5rem auto;
  }

  .infoBox {
    flex-direction: column;
  }

  .infoBox img {
    width: 100%;
  }

  .details {
    width: 100%;
  }

  .detailsBox {
    align-items: center;
    justify-content: center;
  }

  .mainWrap {
    /* width: 100%;
    box-sizing: border-box;
    height: 8rem;
    display: flex; */
    flex-direction: column;
    align-items: center;
  }
}
