.footerBox {
  width: 100%;
  height: 5rem;
  box-shadow: 2px 0 20px 0 beige;
  font-family: "Karla", sans-serif;
  text-align: center;
  padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .footerBox {
    font-size: 0.8em;
  }
}
