.homeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  font-weight: bold;
}

@media screen and (max-width: 690px) {
  .homeBtn {
    font-size: 0.9em;
  }
}
