.active {
  text-decoration: none;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.7);
}

.link {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

@media screen and (max-width: 690px) {
  .link {
    font-size: 1.3em;
  }
}
